<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Domov</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body class="domov">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Domov</li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="../slike_razno/test_slika1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vsi Izdelki</h5>
                    <p class="card-text">Vse, kar lahko naročite pri nas.</p>
                    <a href="/vsi_izdelki" class="btn btn-primary">Vsi Izdelki</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="../slike_razno/test_slika1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Zelenjava</h5>
                    <p class="card-text">Izbira sveže zelenjave.</p>
                    <a href="/zelenjava" class="btn btn-primary">Zelenjava</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="../slike_razno/test_slika1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sadje</h5>
                    <p class="card-text">Sveža izbira sadja</p>
                    <a href="/sadje" class="btn btn-primary">Sadje</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="../slike_razno/test_slika1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Zabojčki</h5>
                    <p class="card-text">Že sestavljeni zabojčki.</p>
                    <a href="/zabojcki" class="btn btn-primary">Zabojčki</a>
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="../slike_razno/test_slika1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Začimbe</h5>
                    <p class="card-text">Suhe in sveže začimbe na volje.</p>
                    <a href="/zacimbe" class="btn btn-primary">Začimbe</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="../slike_razno/test_slika1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Namazi</h5>
                    <p class="card-text">Zelenjavni, čokoladni, med.</p>
                    <a href="/namazi" class="btn btn-primary">Namazi</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="../slike_razno/test_slika1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pijače</h5>
                    <p class="card-text">Sokovi in druge pijače.</p>
                    <a href="/pijace" class="btn btn-primary">Pijače</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="../slike_razno/test_slika1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drugo</h5>
                    <p class="card-text">Ostalo</p>
                    <a href="/drugo" class="btn btn-primary">Drugo</a>
                </div>
            </div>
        </div>
        <div class="col-2">

        </div>

</html>