<div class="container">
    <form method="POST" action="/prijavi_uporabnika">
        <div class="row">
            <div class="col-4">
                <div class="mb-4">
                    <h1>Prijava</h1>
                </div>
                <div class="mb-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="geslo">
                </div>
                <div class="mb-4">
                    <label for="geslo" class="form-label">Geslo</label>
                    <input type="password" class="form-control" id="geslo">
                </div>
                <button type="submit" class="btn btn-primary">Prijava</button>
            </div>
        </div>
    </form>
</div>